*{
    font-family: 'Bebas Neue', cursive; 
}

body{
    margin: 0%;
}

.navi-blue-highligth{
    color: #363958;
}
.orange-highligth{
    color: #FF8367;
}


.top-intro-area h1{
    margin: 0;
    font-size: 80px;
}

h2{
    
    color: #363958;
    font-size: 48px;
}

h3{
    font-family: 'Roboto', sans-serif;
    color: #363958;
    font-size: 24px;
    padding-left: 8px;
}

.work-area h3{
    font-family: 'Bebas Neue', cursive; 
    color: #696871;
    font-weight: bold;
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 16px;
}


#first-tilte{
    margin-top : 50px;
}

section{
    clear: both;
    height:  400px;
    
}

p{
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
}


.project-area p{
    padding-left: 8px;
    
}

.half-width{
    width: 40%;
    margin: 5%;
    margin-top: 0%;
    float: left;
}

.half-width img{
    width: 80%;
}

.link-button{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 16px;
    padding: 18px 56px;
    background: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    border-radius: 6px;
}



.project-area{
    height: 850px;
    padding-top: 1px;
    background-color: #F8F9FC;
}
.project-area h2{
    margin-top: 128px;
    text-align: center;
}

.column {
    float: left;
    width: 25%;
    margin-left: 4.6%;
    padding: 1%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.07);
  }


  .row{
      margin: 0 5%;
  }

 .work-area{
    height: 850px;
    padding-top: 1px;
    text-align: center;
  }

  .work-area div{
      width: 50%;
      height: 30%;
      background-image: url(shapes/Group_33094_1.png);
      background-size: 100% 100%;
      margin: 0% auto;
      margin-top: 150px;
      padding: 1px;
  }
 
  .work-area p{
      display: inline-block;
      font-size: 64px;
      font-family: 'Bebas Neue', cursive; 
      color: white;
      text-align: left;
      margin-top: 9%;
      margin-right: 30%;
  }

  .chat-button{
    float: right;
    margin-top: 10%;
    margin-right: 10%;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    display: inline;
    padding: 20px 36px;
    background: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    border-radius: 6px;
} 

#email{
    margin: 0% auto;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #363958;
}